@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model StudentAddVM
<div class="card">
    <div class="card-body">
        <div class="col-lg-12">
            <div class="border-bottom text-center pb-4">
                <img src="@Model.image_path" alt="profile" class="img-lg rounded-circle mb-3">
                <p>@Model.name</p>
            </div>
            <div class="py-4">
                <p class="clearfix">
                    <span class="float-start"> Age </span>
                    <span class="float-end text-muted"> @Model.age </span>
                </p>
                <p class="clearfix">
                    <span class="float-start"> Address </span>
                    <span class="float-end text-muted"> @Model.address </span>
                </p>
                <p class="clearfix">
                    <span class="float-start"> Department </span>
                    <span class="float-end text-muted"> @Model.dept_name </span>
                </p>
                <p class="clearfix">
                    <span class="float-start"> Registered Courses </span>
                    <ul class="list-group">
                        @foreach (var course in Model.course_details)
                        {
                            @if (Model.course_min_degree > course.Degree)
                            {
                                <li class="list-group-item list-group-item-danger">@course.CourseName: @course.Degree</li>
                            }
                            else
                            {
                                <li class="list-group-item list-group-item-success">@course.CourseName: @course.Degree</li>
                            }
                        }
                    </ul>
                </p>
            </div>
            <a href="/Student/index" class="btn btn-gradient-primary">Go to table</a>
        </div>
    </div>
</div>