@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model StudentDetailsVM
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <img class= "block rounded float-end" src="@Model.image" width="110"/>
        <h5 class="card-text">@Model.name</h5>
        <p class="card-text">@Model.age</p>
        <p class="card-text">@Model.address</p>
        <p class="card-text">@Model.dept_name</p>
        <ul class="list-unstyled">
            @foreach(var course in Model.courses)
            {
                @if(@Model.course_min_degree > course.Value)
                {
                    <li style="color: red;">@course.Key: @course.Value</li>
                }
                else
                {
                    <li style="color: green;">@course.Key: @course.Value</li>
                }
            }
        </ul>
        <a href="/Student/index" class="btn btn-primary">Go to table</a>
    </div>
</div>